.lemon {
    color: red;
}
article p strong{
    background-color: black;
    color: white;
}

#browser,
#internet {
    border: 1px solid black;
}

input [type="button"] {
    border: 1px solid blue;
}

div > p{
    border: 1px dotted green;
}

div > p:hover { 
    background-color: yellow;
}
/* p:hover 여기 띄어쓰지 않는게 올바른 문법 */

.box {
    background-color: purple;
    width: 100px;
    height: 100px;
    margin-left: 0;
}
#box1{
    padding: 50px;
}

#box2{
    margin: 0;
}

#box3{
    margin: 50px;
}