* {
    margin: 0;
    padding: 0;
}


table {
    width: 200px;
    height: 300px;
    /* color: white; */
    text-align: center;
    font-size: 20px;
    border-collapse: collapse;
    background-color: gray;
}

.accept{
    width: 200px;
    height: 50px;
    color: white;
    font-size: 30px;
    background-color: gray;
    border: solid 0.001px black;
    text-align: right;
}

.ac{
    width: 150px;
    height: 50px;
    color: white;
    background-color: gray;
    }

td{
    width: 50px;
    height: 50px;
    color: white;
    background-color: gray;
    border: solid 0.001px black;
}

td:last-child {
    background-color: orange;
}